@import url('./../../../assets/fonts/fonts.scss');
$baseSize:10px;
$blue: #0292cd;
$grey: #dfd7d7;


@keyframes colorProgressX {
    from{transform: translateX(-13.5*$baseSize);}
    to{transform: translateX(-var(--wh));}
}

@keyframes colorAlpha {
    from{background-color: rgba(2, 146, 205,0);}
    to{background-color: rgba(2, 146, 205,var(--alpha));}
}


.Sensor1{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    width:28*$baseSize;
    height: 28*$baseSize;
    
    font-size:3*$baseSize;
    border-radius: 3*$baseSize;
    background-color: #f3efef;
    

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 4*$baseSize;
        padding: $baseSize;
        margin: 0 0 $baseSize 0;
        
        font-size:2*$baseSize;
        font-family: IRANSansWeb, sans-serif;
        font-weight:bold;
    }

    .ProgressBox{
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: rgba(2, 146, 205,var(--alpha));
        width: 20*$baseSize;
        height: 20*$baseSize;
        animation:colorAlpha var(--timeX);
        

        .CenterBox{
            
            width: 17*$baseSize;
            height: 17*$baseSize;  
           
            border-radius: 50%;
            padding: 0.5*$baseSize;

            background-size:13.5*$baseSize;
            background-repeat: no-repeat;
            background-color: white;
            background-position: center;
            

            .textValue{
                position: absolute;
                top: 3*$baseSize;
                right: 4*$baseSize;
            }

            .LinearProgressBox{
                position: absolute;
                overflow: hidden;
                top: 12.225*$baseSize;
                left: 4.5*$baseSize;

                width: 11.6*$baseSize;
                height: 0.25*$baseSize;
                border-radius: 0.15*$baseSize;

                .LinearProgressBar{
                    background-color: $blue;
                    width: 100%;
                    height: 100%;
                    animation: colorProgressX var(--timeX);
                    transform: translateX(var(--wh));
                    
                }
            }

        }
    }
    
}

    